.around-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 30px 0 30px 0;
}

.around-grid article {
  height: 100%;
}

article {
  margin: 25px 0;
  transition: all 0.3s ease;
}

#coffee-around-world {
  text-align: center;
  padding-bottom: 1px;
}

.top-producers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.top-producers li {
  list-style-type: circle;
  margin: 5px 30px;
}

@media (max-width: 412px) {
  
  .around-grid {
    grid-template-columns: 1fr;
  }

  .top-producers li {
    width: 50px;
  }
}
