.h3 {
  color: #c79876;
}

#first {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 30px 0 30px 0;
}

.content2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 30px 0 30px 0;
}

main ul li {
  list-style-type: disc;
  margin-left: 20px;
}

@media (max-width: 412px) {
  
  #first {
    grid-template-columns: repeat(1, 1fr);
  }

  .content2 {
    grid-template-columns: repeat(1, 1fr);
  }
  li {
    line-height: normal;
  }
  img {
    height: 250px;
  }
}
