main {
  text-align: center;
}

img {
  height: 150px;
}

aside {
  margin-top: 60px;
  text-align: left;
}

aside p {
  margin-bottom: 0px;
}
/*     BEAN GRID     */

.bean-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 30px 0 30px 0;
}

.bean-grid article {
  height: 100%;
}

article {
  margin: 25px 0;
  transition: all 0.3s ease;
}

article ul {
  padding-left: 20px;
  line-height: 0.5;
}

.bean-grid article li {
  font-size: 0.9rem;
  margin-left: 5%;
  margin-bottom: 5px;
  list-style-type: disc;
  text-align: left;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(1s, 1fr);
  margin: 30px 0 30px 0;
}

.video-grid .video {
  border-radius: 12px;
  margin-bottom: 30px;
}

/*     RESPONSIVE     */

@media (max-width: 412px) {
  
  .coffee-grid {
    grid-template-columns: 1fr;
  }

  .bean-grid {
    grid-template-columns: 1fr;
  }

  .video-grid {
    grid-template-columns: 1fr;
  }

  iframe {
    width: 380px;
    height: 205px;
  }
}
