main {
  text-align: center;
}

img {
  width: 250px;
  height: 200px;
}

/*     BREWING GRID     */

#brewing-methods {
  margin-bottom: 56px;
}

.brewing-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 30px 0 30px 0;
}

.brewing-grid article {
  height: 100%;
}

article {
  margin: 25px 0;
  transition: all 0.3s ease;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(1s, 1fr);
  margin: 30px 0 30px 0;
}

.video-grid .video {
  border-radius: 12px;
  margin-bottom: 30px;
}

/*     RESPONSIVE     */

@media (max-width: 412px) {
  
  .brewing-grid {
    grid-template-columns: 1fr;
  }

  .video-grid {
    grid-template-columns: 1fr;
  }

  iframe {
    width: 380px;
    height: 205px;
  }
}
